In [3]:
import pandas as pd
pd.set_option('display.mpl_style', 'default')
figsize(15,3)

D:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2885: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

NameError: name 'figsize' is not defined

In [5]:
url_template = "http://climate.weather.gc.ca/climateData/bulkdata_e.html?format=csv&stationID=5415&Year={year}&Month={month}&timeframe=1&submit=Download+Data"

In [6]:
url = url_template.format(month=3, year=2012)
weather_mar2012 = pd.read_csv(url, skiprows=16, index_col='Date/Time', parse_dates=True, encoding='latin1')

HTTPError: HTTP Error 404: Not Found

In [8]:

import matplotlib.pyplot as plt
import datetime
import pandas as pd
yhoo = DataReader("yhoo", "yahoo", datetime.datetime(2007, 1, 1), 
    datetime.datetime(2012,1,1))

NameError: name 'DataReader' is not defined

In [9]:
from IPython.core.display import HTML
HTML("<iframe src=http://pandas.pydata.org width=800 height=350></iframe>")

In [10]:
import datetime

import pandas as pd
import pandas.io.data
from pandas import Series, DataFrame
pd.__version__

D:\Anaconda2\lib\site-packages\pandas\io\data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

u'0.18.1'

In [11]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('figure', figsize=(8, 7))
mpl.__version__

'1.5.1'

In [12]:
labels = ['a', 'b', 'c', 'd', 'e']
s = Series([1, 2, 3, 4, 5], index=labels)
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
'b' in s

True

In [14]:
s['b']

2

In [15]:
mapping = s.to_dict()
mapping

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [16]:
Series(mapping)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
aapl = pd.io.data.get_data_yahoo('AAPL', 
                                 start=datetime.datetime(2006, 10, 1), 
                                 end=datetime.datetime(2012, 1, 1))
aapl.head()

                 Open       High        Low      Close     Volume  Adj Close
Date
2006-10-02  75.100003  75.870001  74.299998  74.859998  178159800   9.843929
2006-10-03  74.450002  74.950000  73.190000  74.080000  197677200   9.741361
2006-10-04  74.100000  75.459998  73.159999  75.380003  207270700   9.912308
2006-10-05  74.529997  76.160001  74.130001  74.829997  170970800   9.839984
2006-10-06  74.420001  75.040002  73.810000  74.220003  116739700   9.759771

In [20]:
aapl.to_csv('aapl.csv')
!head data/aapl_ohlc.csv

'head' は、内部コマンドまたは外部コマンド、
操作可能なプログラムまたはバッチ ファイルとして認識されていません。

In [19]:
!head data/aapl_ohlc.csv

'head' は、内部コマンドまたは外部コマンド、
操作可能なプログラムまたはバッチ ファイルとして認識されていません。

In [21]:
df = pd.read_csv('aapl.csv', index_col='Date', parse_dates=True)
df.head()

                 Open       High        Low      Close     Volume  Adj Close
Date
2006-10-02  75.100003  75.870001  74.299998  74.859998  178159800   9.843929
2006-10-03  74.450002  74.950000  73.190000  74.080000  197677200   9.741361
2006-10-04  74.100000  75.459998  73.159999  75.380003  207270700   9.912308
2006-10-05  74.529997  76.160001  74.130001  74.829997  170970800   9.839984
2006-10-06  74.420001  75.040002  73.810000  74.220003  116739700   9.759771

In [22]:
df.index

DatetimeIndex(['2006-10-02', '2006-10-03', '2006-10-04', '2006-10-05',
               '2006-10-06', '2006-10-09', '2006-10-10', '2006-10-11',
               '2006-10-12', '2006-10-13',
               ...
               '2011-12-16', '2011-12-19', '2011-12-20', '2011-12-21',
               '2011-12-22', '2011-12-23', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', name=u'Date', length=1323, freq=None)

In [24]:
ts=df['Close'][-10:]
ts

Date
2011-12-16    381.019989
2011-12-19    382.210003
2011-12-20    395.949997
2011-12-21    396.450008
2011-12-22    398.550003
2011-12-23    403.330006
2011-12-27    406.529999
2011-12-28    402.640003
2011-12-29    405.120007
2011-12-30    405.000004
Name: Close, dtype: float64

In [25]:
ts.index

DatetimeIndex(['2011-12-16', '2011-12-19', '2011-12-20', '2011-12-21',
               '2011-12-22', '2011-12-23', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', name=u'Date', freq=None)

In [26]:
ts[5]

403.33000600000003

In [27]:
close_px=df['Adj Close']

In [30]:
#mavg=pd.rolling_mean(close_px,40)
mavg=close_px.rolling(window=40,center=False).mean()
mavg[-10:]

Date
2011-12-16    51.114234
2011-12-19    51.079190
2011-12-20    51.046907
2011-12-21    51.042568
2011-12-22    51.035828
2011-12-23    51.031357
2011-12-27    51.036552
2011-12-28    51.029517
2011-12-29    51.057821
2011-12-30    51.082773
Name: Adj Close, dtype: float64

In [31]:
rets = close_px / close_px.shift(1) - 1
rets.head()

Date
2006-10-02         NaN
2006-10-03   -0.010419
2006-10-04    0.017549
2006-10-05   -0.007296
2006-10-06   -0.008152
Name: Adj Close, dtype: float64

In [32]:
close_px.pct_change().head()

Date
2006-10-02         NaN
2006-10-03   -0.010419
2006-10-04    0.017549
2006-10-05   -0.007296
2006-10-06   -0.008152
Name: Adj Close, dtype: float64

In [34]:
close_px.plot(label='AAPL')
mavg.plot(label='mavg')
plt.legend()

In [35]:
df = pd.io.data.get_data_yahoo(['AAPL', 'GE', 'GOOG', 'IBM', 'KO', 'MSFT', 'PEP'], 
                               start=datetime.datetime(2010, 1, 1), 
                               end=datetime.datetime(2013, 1, 1))['Adj Close']
df.head()

,AAPL,GE,GOOG,IBM,KO,MSFT,PEP
Date,,,,,,,
2010-01-04,28.141855,12.462550,313.062468,114.283108,23.509276,26.045432,50.573873
2010-01-05,28.190509,12.527081,311.683844,112.902572,23.224888,26.053846,51.184986
2010-01-06,27.742101,12.462550,303.826685,112.169153,23.216647,25.893956,50.672972
2010-01-07,27.690818,13.107860,296.753749,111.780878,23.158944,25.624666,50.350899
2010-01-08,27.874915,13.390183,300.709808,112.902572,22.730305,25.801387,50.185732

In [36]:
rets = df.pct_change()

In [37]:
plt.scatter(rets.PEP, rets.KO)
plt.xlabel('Returns PEP')
plt.ylabel('Returns KO')

In [38]:
corr = rets.corr()
corr

          AAPL        GE      GOOG       IBM        KO      MSFT       PEP
AAPL  1.000000  0.457052  0.533387  0.501587  0.388007  0.472767  0.308964
GE    0.457052  1.000000  0.462696  0.609330  0.593856  0.600065  0.533503
GOOG  0.533387  0.462696  1.000000  0.470778  0.404099  0.472851  0.329938
IBM   0.501587  0.609330  0.470778  1.000000  0.601483  0.646124  0.491088
KO    0.388007  0.593856  0.404099  0.601483  1.000000  0.523480  0.635843
MSFT  0.472767  0.600065  0.472851  0.646124  0.523480  1.000000  0.477425
PEP   0.308964  0.533503  0.329938  0.491088  0.635843  0.477425  1.000000

In [39]:
plt.imshow(corr, cmap='hot', interpolation='none')
plt.colorbar()
plt.xticks(range(len(corr)), corr.columns)
plt.yticks(range(len(corr)), corr.columns);